span:is([data-operator]) {
    letter-spacing: 2px;
    border: 2px solid transparent;
    padding: 0 1px;
    line-height: 1.75;

    &[data-operator="+"] { --r: 59; --g: 165; --b: 93; }
    &[data-operator="-"] { --r: 237; --g: 64; --b: 67; }
    &[data-operator=">"], &[data-operator="<"] { --r: 254; --g: 215; --b: 72; }
    &[data-operator="["], &[data-operator="]"] { --r: 250; --g: 168; --b: 26; }
    &[data-operator="."] { --r: 88; --g: 101; --b: 242; }
    &[data-operator=","] { --r: 134; --g: 220; --b: 197; }

    background-color: rgba(var(--r), var(--g), var(--b), .3);
    &:hover, &[data-emphasis] {
        border: 2px solid rgba(var(--r), var(--g), var(--b), .7);
    }
}